.banner {
  background-color: #f1fdf7;
  display: flex;
  justify-content: center;
  padding: 100px 0;
  background-color: #0d084d;
  color: white;

  .container {
    width: 1400px;
    display: flex;
    align-items: center;
    gap: 200px;

    .item {
      display: flex;
      flex-direction: column;
      gap: 15px;

      &:first-child {
        flex: 2;

        button {
          width: max-content;
          background-color: #1dbf73;
          border: none;
          padding: 10px 20px;
          font-size: 18px;
          color: white;
          border-radius: 5px;
          margin-top: 20px;
          font-weight: 500;
          cursor: pointer;
        }
      }

      &:last-child {
        flex: 3;
      }

      h1 {
        font-weight: 500;
        margin-bottom: 10px;
      }

      p {
        font-size: 18px;
        font-weight: 300;
        line-height: 28px;
        letter-spacing: 1px;
      }

      .title {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 300;
        font-size: 14px;

        img {
          width: 24px;
          height: 24px;
        }
      }

      img {
        width: 720px;
      }
    }
  }
}
